<div>
  <table class="table table-dark">
    <thead>
      <tr>
        <td>ID de articulo</td>
        <td>Nombre</td>
        <td>Tipo</td>
        <td>Fecha creacion</td>
        <td>Precio compra</td>
        <td>Precio venta</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of listaArticulos">
        <td>{{articulo.id}}</td>
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.tipoDeArticulo.nombreTA}}</td>
        <td>{{articulo.fechaCreacion}}</td>
        <td>{{articulo.precioCompra}}</td>
        <td>{{articulo.precioVenta}}</td>
      </tr>
    </tbody>
  </table>
</div>