<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <span>Fecha Inicial: </span>
            <input type="date" [(ngModel)]="fechaIni">
        </div>
        <div class="col-3">
            <span>Fecha Final:  </span>
            <input type="date" [(ngModel)]="fechaFin">
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="listarpersonafecha(fechaIni, fechaFin)">Consultar</button>
        </div>
    </div>
</div>
<br>
<div>
    <table class="table table-dark">
        <thead>
          <tr>
            <td>Nombre </td>
            <td>Apellidos</td>
            <td>Rol</td>
            <td>Nacimiento</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let persona of listapersonas">
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.rol}}</td>
            <td>{{persona.nacimiento}}</td>
            <td>{{persona.direccion}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.email}}</td>
        </tr>
        </tbody>
      </table>
</div>