<br>
  <div class="container">
      <div class="row">
          <div class="col-3">
              <span>Fecha Inicial: </span>
              <input type="date" [(ngModel)]="fechaIni">
          </div>
          <div class="col-3">
              <span>Fecha Final:  </span>
              <input type="date" [(ngModel)]="fechaFin">
          </div>
          <div class="col-3">
              <button type="button" class="btn btn-primary" (click)="getViaticosService(fechaIni, fechaFin)">Consultar</button>
          </div>
      </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Id viatico</th>
            <th>Valor viatico</th>
            <th>Tipo de viatico</th>
            <th>Usuario que autorizo</th>
          </tr>
        </thead>
        
      </table>
    </div>

  </div>
<br>