<div>
    <table class="table table-dark">
        <thead>
          <tr>
            <td>Nombre Tipo de Articulo</td>
            <td>Referencia</td>
            <td>Unidad de medida</td>
            <td>Fecha de creacion</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let Tipo of this.Tipos">
            <td>{{Tipo.nombreTA}}</td>
            <td>{{Tipo.referencia}}</td>
            <td>{{Tipo.unidadDeMedida}}</td>
            <td>{{Tipo.fechaDeCreacion}}</td>
          </tr>
          <tr>
            ...
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2" class="table-active">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>